{% extends 'base.html.twig' %}

{% block title %}Jugement index{% endblock %}

{% block body %}
<style>
.back{
            color:#aa80ff;
        }
         .back:hover{
            color:#884dff;
            text-decoration:underline;
            background-color:#eee6ff;

        }
</style>
    <h1>Jugement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jugements</th>
                <th>numéro d'audiance et room</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jugement in jugements %}
            <tr>
                <td>{{ jugement.id }}</td>
                <td>{{ jugement.jugements }}</td>
                <td>{{ jugement.audiance.id }} - {{ jugement.audiance.room }}</td>

                <td>
                    <a class="back" href="{{ path('app_jugement_show', {'id': jugement.id}) }}">show</a>
                    <a class="back" href="{{ path('app_jugement_edit', {'id': jugement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="back" href="{{ path('app_jugement_new') }}">Create new</a>
{% endblock %}
