{% extends 'base.html.twig' %}

{% block title %}Audiance index{% endblock %}

{% block body %}
<style>
.back{
            color:#aa80ff;
        }
         .back:hover{
            color:#884dff;
            text-decoration:underline;
            background-color:#eee6ff;

        }
</style>
    <h1>Audiances</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salle</th>
                <th>date de l'audience</th>
                <th>Dossier</th>
                <th>Juges</th>
                <th>Jugement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audiance in audiances %}
            <tr>
                <td>{{ audiance.id }}</td>
                <td>{{ audiance.room }}</td>
                <td>{{ audiance.courtDate ? audiance.courtDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ audiance.dossier.titre }}</td>
                <td>
                    {% for judge in audiance.judges %}
                        {{ judge.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                    <td>
                    {% for jugement in audiance.jugements %}
                        {{ jugement.jugements }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="back" href="{{ path('app_audiance_show', {'id': audiance.id}) }}">voir</a>
                    <a class="back" href="{{ path('app_audiance_edit', {'id': audiance.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="back" href="{{ path('app_audiance_new') }}">Create new</a>
{% endblock %}
