{# templates/audiance/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Court Info{% endblock %}

{% block body %}
    <h1>Court Info</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audiance.id }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ audiance.room }}</td>
            </tr>
            <tr>
                <th>Court Date</th>
                <td>{{ audiance.courtDate ? audiance.courtDate|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Dossier</th>
                <td>{{ audiance.dossier.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_court_info_index') }}">back to list</a>
    <a href="{{ path('app_court_info_edit', {'id': audiance.id}) }}">edit</a>

    {{ include('audiance/_delete_form.html.twig') }}
{% endblock %}
