{% extends 'base.html.twig' %}

{% block title %}Audiance{% endblock %}

{% block body %}
<style>
.back{
            color:#aa80ff;
        }
         .back:hover{
            color:#884dff;
            text-decoration:underline;
            background-color:#eee6ff;

        }
</style>
    <h1>Audience</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audiance.id }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ audiance.room }}</td>
            </tr>
            <tr>
                <th>CourtDate</th>
                <td>{{ audiance.courtDate ? audiance.courtDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="back" href="{{ path('app_audiance_index') }}">Retour à la liste</a>

    <a class="back" href="{{ path('app_audiance_edit', {'id': audiance.id}) }}">editer</a>

    {{ include('audiance/_delete_form.html.twig') }}
{% endblock %}
