{% extends 'base.html.twig' %}

{% block title %}Audiance{% endblock %}

{% block body %}
    <h1>Audiance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audiance.id }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ audiance.room }}</td>
            </tr>
            <tr>
                <th>CourtDate</th>
                <td>{{ audiance.courtDate ? audiance.courtDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_audiance_index') }}">back to list</a>

    <a href="{{ path('app_audiance_edit', {'id': audiance.id}) }}">edit</a>

    {{ include('audiance/_delete_form.html.twig') }}
{% endblock %}
